{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Registrasi Member Baru</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
  </head>
  <body>
    {% include 'menu.html' %}
    <div class="container-fluid justify-content-center align-items-center" style="min-height: 100vh;">
        <br/>
        <h3 class="text-center">Registrasi Member Baru</h3>
        <br/>
      {% comment %} {% include 'sidebar.html' %} {% endcomment %}
      <div class="row">
		<div class="col-md-6">
      <form method="post">
        {% csrf_token %}
        <div class="form-group row">
            <label for="{{ member_form.nama.nama }}" class="col-3 col-form-label">Nama Member</label>
            <div class="col-9">
                <input id="{{ member_form.nama.nama }}" name="{{ member_form.nama.html_name }}" placeholder="Nama Member" type="text" required="required" class="form-control" value="">
            </div>
        </div><br/>
        <div class="form-group row">
            <label for="{{ member_form.jenis_identitas.id_for_field }}" class="col-3 col-form-label">Jenis Identitas</label>
            <div class="col-9">
                <select id="{{ member_form.jenis_identitas.id_for_field }}" name="{{ member_form.jenis_identitas.html_name }}" class="form-select" required="required">
                    <option value="">-- Pilih --</option>
                    <option value="1">KTP / Paspor</option>
                    <option value="2">Kartu Siswa / Mahasiswa</option>
                    <option value="3">SIM</option>
                    <option value="4">Lainnya</option>
                </select>
            </div>
        </div><br/>
        <div class="form-group row">
            <label for="{{ member_form.no_identitas.id_for_field }}" class="col-3 col-form-label">No. Identitas</label>
            <div class="col-9">
                <input id="{{ member_form.no_identitas.id_for_field }}" name="{{ member_form.no_identitas.html_name }}" placeholder="No. Identitas" type="text" class="form-control" required="required" value="">
            </div>
        </div><br/>
        <div class="form-group row">
            <label for="{{ member_form.alamat_ktp.id_for_field }}" class="col-3 col-form-label">Alamat Identitas</label>
            <div class="col-9">
                <input id="{{ member_form.alamat_ktp.id_for_field }}" name="{{ member_form.alamat_ktp.html_name }}" placeholder="Alamat Identitas" type="text" class="form-control" required="required" value="">
            </div>
        </div><br/>
        <div class="form-group row">
            <label for="{{ member_form.domisili.id_for_field }}" class="col-3 col-form-label">Domisili</label>
            <div class="col-9">
                <input id="{{ member_form.domisili.id_for_field }}" name="{{ member_form.domisili.html_name }}" placeholder="Domisili" type="text" class="form-control" required="required" value="">
            </div>
        </div><br/>
        <div class="form-group row">
            <label for="{{ transaksi_form.jenis_transaksi.id_for_field }}" class="col-3 col-form-label">Tujuan Kunjungan</label>
            <div class="col-9">
                <select id="{{ transaksi_form.jenis_transaksi.id_for_field }}" name="{{ transaksi_form.jenis_transaksi.html_name }}" class="form-select" required="required">
                    <option value="">-- Pilih --</option>
                    <option value="1">Peminjaman</option>
                    <option value="2">Pembelian</option>
                    <option value="3">Kunjungan</option>
                </select>
            </div>
        </div><br/>
        <div class="form-group row">
            <div class="offset-3 col-9">
                <button name="submit" type="submit" class="btn btn-primary">Simpan</button>
            </div>
        </div><br/>
      </form>
		</div>
		<div class="col-md-6">
            <form class="d-flex" method="get" action="">
                <input class="form-control me-2" type="search" placeholder="Cari Nama Member" name="q" value="{{ search_query }}">
                <button class="btn btn-outline-success" type="submit">Cari</button>
            </form>
            <table class="table table-striped table-hover">
                <thead>
                  <tr>
                    <th scope="col">No.</th>
                    <th scope="col">No Register</th>
                    <th scope="col">Nama</th>
                    <th scope="col">Jenis Kunjungan</th>
                    <th scope="col">Tujuan Kunjungan</th>
                  </tr>
                </thead>
                <tbody>
                    {% for transaksi in page_obj %}
                    <tr>
                        <td>{{ forloop.counter }}</td>
                        <td>{{ transaksi.1 }}</td>
                        <td>{{ transaksi.2 }}</td>
                        <td>{{ transaksi.3 }}</td>
                        <td>{{ transaksi.4 }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
              </table>
              <nav aria-label="Page navigation">
                <ul class="pagination justify-content-end">
                  {% if page_obj.has_previous %}
                    <li class="page-item">
                      <a class="page-link" href="?page={{ page_obj.previous_page_number }}{% if search_query %}&q={{ search_query }}{% endif %}">Previous</a>
                    </li>
                  {% else %}
                    <li class="page-item disabled">
                      <a class="page-link">Previous</a>
                    </li>
                  {% endif %}
    
                  {% for num in page_obj.paginator.page_range %}
                    {% if page_obj.number == num %}
                      <li class="page-item active" aria-current="page">
                        <span class="page-link">{{ num }}</span>
                      </li>
                    {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
                      <li class="page-item">
                        <a class="page-link" href="?page={{ num }}{% if search_query %}&q={{ search_query }}{% endif %}">{{ num }}</a>
                      </li>
                    {% endif %}
                  {% endfor %}
                  {% if page_obj.has_next %}
                    <li class="page-item">
                      <a class="page-link" href="?page={{ page_obj.next_page_number }}{% if search_query %}&q={{ search_query }}{% endif %}">Next</a>
                    </li>
                  {% else %}
                    <li class="page-item disabled">
                      <a class="page-link">Next</a>
                    </li>
                  {% endif %}
                </ul>
              </nav>
		</div>
	</div>
    </div>
    {% include 'footer.html' %}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
  </body>
</html>