{% load static %}
<div class="d-flex justify-content-center" style="min-height: 80vh;">
  <div class="row justify-content-start w-200">
      <div class="col-md-3">
        <div class="card" style="width: 18rem;">
          <img src="{% static 'img/perpus1.jpg' %}" class="card-img-top" alt="..." style="width: 286px; height: 200px; object-fit: cover;">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="card" style="width: 18rem;">
          <img src="{% static 'img/perpus2.jpg' %}" class="card-img-top" alt="..." style="width: 286px; height: 200px; object-fit: cover;">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="card" style="width: 18rem;">
          <img src="{% static 'img/perpus3.jpg' %}" class="card-img-top" alt="..." style="width: 286px; height: 200px; object-fit: cover;">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="card" style="width: 18rem;">
          <img src="{% static 'img/perpus4.jpg' %}" class="card-img-top" alt="..." style="width: 286px; height: 200px; object-fit: cover;">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
      </div>
  </div>
</div>